<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div id="app"></div>
    <div id="footer" style="position: fixed; bottom: 0; width: 100%;"></div>
  </body>
</html>